<div ng-controller="MapCtrl">
<ion-header-bar class="bar-stable">
      <h1 class="title">Map</h1>
    </ion-header-bar>

    <ion-content scroll="false">

      <div id="map" data-tap-disabled="true" ng-init="init()"></div>

      <div class="parent">
        <div class="child">
          <div class="button-bar tab-buttons">
            <a class="button buttonorange">
              <i class="icon ion-gear-a"></i></a>
            <a class="button buttonorange" data-toggle="modal" data-target="#myModal1">
              <i class="icon ion-person"></i>
            </a>
          </div>

          <div class="home">
            <a class="button buttonorange home">
              <img class="hapicon" src="./img/Happenstancepic.png">
            </a>
          </div>
        </div>
      </div>


      <!-- Modal -->
    <div ng-controller="ModalCtrl" class="modal modal-transparent fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modalbody">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="stopPlay()">&#xD7;</button>
            <!-- <h4 class="modal-title">{{location.name}}<i class="icon ion-star"></i></h4> -->
            <h4 class="modal-title">{{location.name}}</h4>
            <i class ="fa fa-star-o fav-icon" ng-show="!toggle3" ng-click="toggle3=true"></i>
            <i class ="fa fa-star-o fav-icon" ng-show="toggle3"  ng-click="toggle3=false" style="color:#ffa500"></i>
          </h4>
          </div>
          <div class="modal-body">
            <div ng-show="location.videoUrl">
              <video class="responsive" ng-src="{{location.videoUrl}}" width="340" id="myvideo" webkit-playsinline="true">
                Your browser does not support HTML5 video.
              </video>
              <!-- Video Controls -->
              <div id="video-controls">
                <input class="progress-bar orange" type="range" id="seek-bar" value="0">
                <div class="row">
                  <button class="button button-clear orange col-33" type="button" id="pre-backward"><i class="icon ion-chevron-left orange"></i></button>
                  <button class="button button-clear orange col-33" type="button" id="play-pause"><i class="icon ion-pause orange"></i></button>
                  <button class="button button-clear orange col-33" type="button" id="next"><i class="icon ion-chevron-right orange"></i></button>
                </div>
                <div>
                  {{location.description}}
                </div>
              </div>
            </div>
            <div ng-show="location.audioUrl">
              <audio ng-src="{{location.audioUrl}}" id="myaudio">
                Your browser does not support the audio element.
              </audio>
              <div>
                <img class="responsive" ng-src="{{location.imageUrl}}">
              </div>
              <div id="audio-controls">
                <input class="progress-bar orange" type="range" id="seek-bar-audio" value="0">
                <div class="row">
                  <button class="button button-clear orange col-33" type="button" id="pre-backward-audio"><i class="icon ion-chevron-left orange"></i></button>
                  <button class="button button-clear orange col-33" type="button" id="play-pause-audio"><i class="icon ion-pause orange"></i></button>
                  <button class="button button-clear orange col-33" type="button" id="next-audio"><i class="icon ion-chevron-right orange"></i></button>
                </div>
                <div>
                  {{location.description}}
                </div>
              </div>
            </div>
          </div>
          <div class="mossdal-footer">
            <!-- <button type="button" ng-click="stopPlay()" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <div class="list" id="relatedStories" ng-hide="notFinished">
              <div class="item item-divider">
                Related stories
              </div>

              <a class="item item-avatar" ng-repeat="relatedLoc in locations | filter: related | orderBy: '-counter' | limitTo: 3" ng-click="openRelated(relatedLoc)" ;="">
                <img ng-src="{{relatedLoc.imageUrl}}">
                <h2>{{relatedLoc.name}}</h2>
                <p>{{relatedLoc.description}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- new modal -->
<div class="modal modal-transparent fade" id="myModal1" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content modalbody">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title user-name">Stephanie Choporis</h4>
       </div>
       <div class="modal-body">
         <img alt="user image" class="user-image" src="https://pbs.twimg.com/profile_images/609501673455779840/XnhrtEUN.jpg" />
         <button type="button" class="btn buttonorange btn-block" data-toggle="modal" data-target="#myModal2">History</button>
         <button type="button" class="btn buttonorange btn-block" data-toggle="modal" data-target="#myModal3">Preference</button>
         <button type="button" class="btn buttonorange btn-block" data-toggle="modal" data-target="#myModal4">Favorite</button>
       </div>
     </div>

   </div>
 </div>

 <div class="modal fade" ng-controller="HistoryCtrl" id="myModal2" role="dialog">
   <div class="modal-dialog">

     <!-- Modal content-->
     <div class="modal-content modalbody">
       <div class="modal-header">
         <div class="row">
           <div class="col">
             <button type="button" class="" data-dismiss="modal" data-toggle="modal">&lt;</button>
           </div>
           <div class="col">
             <h4 class="modal-title history">History</h4>
           </div>
           <div class="col">
             <button type="button" class="close" data-dismiss="modal" data-toggle="modal" href="#myModal1">&times;</button>
          </div>

       </div>
     </div>
       <div class="modal-body">
          <div class="list" id="historyList">
              <div class="item item-divider">
                Unfinished
              </div>
              <a class="item item-avatar" ng-repeat="location in locationList | filter: unfinished" ng-click="openHistory(location)">
                <img src="{{location.imageUrl}}">
                <h2>{{location.name}}</h2>
                <p>{{location.description}}</p>
              </a>

              <div class="item item-divider">
                Watched
              </div>
              <a class="item item-avatar" ng-repeat="location in locationList | filter: watched" ng-click="openHistory(location)">
                <img src="{{location.imageUrl}}">
                <h2>{{location.name}}</h2>
                <p>{{location.description}}</p>
              </a>
          </div>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal">Back</button>
       </div>
     </div>

   </div>
 </div>

<!-- Preference Modal -->
<div class="modal fade" ng-controller="HistoryCtrl" id="myModal3" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content modalbody">
      <div class="modal-header">
        <div class="row">
          <div class="col">
            <button type="button" class="" data-dismiss="modal" data-toggle="modal">&lt;</button>
          </div>
          <div class="col">
            <h4 class="modal-title history">Preference</h4>
          </div>
          <div class="col">
            <button type="button" class="close" data-dismiss="modal" data-toggle="modal" href="#myModal1">&times;</button>
         </div>

      </div>
    </div>
      <div class="modal-body">
         <div class="list" id="historyList">
             <a class="item item-avatar" ng-repeat="location in locationList" ng-click="openHistory(location)">
               <img src="{{location.imageUrl}}">
               <h2>{{location.name}}</h2>
               <p>{{location.description}}</p>
             </a>
         </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal">Back</button>
      </div>
    </div>

  </div>
</div>

<!-- Favorite Modal -->
<div class="modal fade" ng-controller="" id="myModal4" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content modalbody">
      <div class="modal-header">
        <div class="row">
          <div class="col">
            <button type="button" class="" data-dismiss="modal" data-toggle="modal">&lt;</button>
          </div>
          <div class="col">
            <h4 class="modal-title history">Favorite</h4>
          </div>
          <div class="col">
            <button type="button" class="close" data-dismiss="modal" data-toggle="modal" href="#myModal1">&times;</button>
         </div>

      </div>
    </div>
      <div class="modal-body">
         <div class="list" id="">
             <a class="item item-avatar" ng-repeat="location in locationList" ng-click="">
               <img src="{{location.imageUrl}}">
               <h2>{{location.name}}</h2>
               <p>{{location.description}}</p>
             </a>
         </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary" data-dismiss="modal" data-toggle="modal">Back</button>
      </div>
    </div>

  </div>
</div>

    </ion-content>


</div>
