
	<div ng-controller="LoginCtrl">
        <ion-content>
        <div class="container">
            <div class="loginhap">
                <img src="./img/Happenstancepic.png">
            </div>
            <h3 class="title">Happenstance</h3>

    	    <ul class="login">
    	       <li class="loginbtn">
    	           <input ng-model="formData.email" type="email" name="usermail" placeholder="Email" required>
               </li>
    	       <li class="loginbtn">
    	           <input class="loginbtn" ng-model="formData.password" type="password" name="password" placeholder="Password" required>
               </li>
               <div>
        	       <li>
        	           <input class="btn btn-block buttonorange" ng-click="login()" type="submit" value="Login">
                    </li>
                    <li>
                    <input class="btn btn-block buttonwhite" ng-click="createAccount()" type="submit" value="Create Account">
                    </li>
                </div>
    	    </ul>
            <p>{{loginMessage}}</p>
    	    <!-- <a class="button buttonorange" ui-sref="home">
              Go back
            </a> -->
        </div>
    </ion-content>
</div>
