/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.home {
    border-radius: 50%;
    float: center;
    border-color: white;
    margin-left: 30%;
    margin-right: 30%;
    /*height: 50%;*/

}

.hapicon {
	float: center;
    height: 50px;
    padding-top: 20%;
}

.tab-buttons {
	height: 10%;
	/*background-color: blue;*/
	border: none;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.buttonorange {
	background-color: #ff500a;
	color: white;
}

.child {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 13%;
}

.parent {
	width: 100%;
	height: 100%;
	position: relative;
}

.orange {
	color: #ff500a;
}

.button.orange {
	color: #ff500a;
	font-size: 1.5em;
}

.progress-bar {
	width: 100%;
}